body {
        font-family: serif;
        font-size: 24px;
        padding: 40px;
        margin: 0;
        background: linear-gradient( 50%, rgb(94, 191, 191) 77%);
        text-align: center;
}

.img{
        display: flex;
        width: 120px;
        height: 160px;
        margin: auto;
        margin-top: 20px;
}

    h2 {
        text-align: center;
        color: #333;
    
}

.dashboard {
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
        margin: 40px 0;
    }

    .card {
        padding: 20px 30px;
        background-color: white;
        border: 2px solid #007BFF;
        border-radius: 10px;
        min-width: 250px;
        text-align: center;
        font-size: 1.2em;
        font-weight: bold;
        color: #333;
        box-shadow: 0 4px 8px rgba(10, 10, 10, 0.892);
    }

.card span {
        display: block;
        margin-top: 10px;
        font-size: 1.5em;
        color: #007BFF;
    }
    

    .volver{
        display: inline-block;  /* se comporto como un bloque de linea  */
        
        font-size: 25px;
        font-family:serif;
        border: 2px solid #a5a5a5;
        border-radius: 8px;
        text-decoration: none;
        padding: 4px 12px;        
        box-shadow: 0 4px 8px rgba(10, 10, 10, 0.892);
        color: black;
        transition: 0.3s;
        
    }

    .volver:hover {
        box-shadow: #333;
        text-decoration: none; 
        background-color: #a7a9aa;
        color: #fff;

    }