body {
    font-family: Arial;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 400px;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 15px #0009;
    text-align: center;
    z-index: 20px;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;box-shadow: 0 0 20px #4CAF50;
    
}

button:hover {
    background-color: #45a049;
    box-shadow: 3px 3px 25px #024806;
}

.error {
    color: red;
    margin-top: 5px;
    font-size: 14px;
}

p {
    margin-top: 15px;
}

a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}




